@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@theme {
  --color-artic: #03045e;
  --color-artic-100: #caf0f8;
  --color-artic-200: #ade8f4;
  --color-artic-300: #90e0ef;
  --color-artic-400: #48cae4;
  --color-artic-500: #00b4d8;
  --color-artic-600: #0096c7;
  --color-artic-700: #0077b6;
  --color-artic-800: #023e8a;
  --color-artic-900: #03045e;

  --color-mint: #1dcd9f;
  --color-mint2: #169976;
  --color-black1: #292929;
  --color-black2: #222222;

  --font-roboto: "Roboto", sans-serif;
}

html {
  @apply h-full;
}

body {
  @apply h-full flex flex-col min-h-screen text-black2 bg-black2 items-center;
}

main {
  @apply flex flex-grow flex-col pt-10 items-center max-w-[150rem] bg-mint2 m-8 p-4 rounded-[50px];
  @apply lg:w-fit;
}

h1 {
  @apply text-3xl pb-1;
}

h3 {
  @apply text-xl pb-1;
}

p {
  @apply pb-2;
}

li {
  @apply list-disc pb-1.5;
}

.default-transition {
  @apply transition-all duration-200 delay-75;
}
